/*--------------------------------------------------------------
# 404 Page
--------------------------------------------------------------*/
.page-template-404{
    .site-content{
        background: url(../../assets/images/output-onlinepngtools.png);
        width: 100%;
        height: 100vh;
        background-position: 10%;
        background-repeat: no-repeat;
    background-size: contain;

}

}