/*--------------------------------------------------------------
# Blog Page
--------------------------------------------------------------*/

.blog {
  .site-content {
    background-image: url('../../assets/images/flowing.png');
    background-position: -500px;
    background-size: 2500px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .blog-header {
      height: 24rem;
      @include desktop {
        height: 15rem;
        background-image: url('../../assets/images/flowimpact.png'), url('../../assets/images/Impactfullygiving.png');
        background-size: 800px, 318px;
        background-position: top -43px left -453px, top 10px right 30px;
        background-repeat: no-repeat no-repeat;
        padding-bottom: 2rem;
        padding-bottom: 18rem;
      }
      .impact-title {
        h2 {
          text-align: center;
          text-transform: capitalize;
          color: $credible__blue;
          font-size: 1.5rem;
          margin: 1rem;
          @include tablet {
            font-size: 2rem;
          }
          @include desktop {
            font-size: 3rem;
            // margin-bottom: 0.5rem;
            margin: 7rem 0 0.5rem 0;
            text-transform: capitalize;
            color: $credible__blue;
          }
        }
        p {
          font-size: 1rem;
          text-align: center;
          font-weight: bold;
          margin-bottom: 2rem;
          @include desktop {
            margin: 0;
          }
        }
      }
      .impact-heart {
        text-align: center;
        @include desktop {
          display: none;
        }
        img {
          width: 298px;
          object-fit: cover;
        }
      }
    } //end of header
    .post {
      padding: 2rem;
      @include tablet {
        padding: 3rem;
      }
      @include desktop {
        padding-bottom: 0rem;
        padding-right: 12rem;
        padding-left: 12rem;
      }
      .post-blog {
        border: 1px solid #d7d0f2;
        box-shadow: 0 2px 2px #42299a;
        .entry-header {
          img {
            width: 100%;
            object-fit: cover;
            height: 100%;
          }
        }
        .entry-title {
          padding: 10px;
          padding-bottom: 3rem;
          @include desktop {
            padding-bottom: 0;
          }
          span {
            font-size: 0.85rem;
            color: #a7a3d6;
            font-weight: 600;
          }
          h3 {
            font-size: 1.3rem;
            margin-top: 6px;
            padding: 0;
          }
        }
        .entry-content {
          display: none;
          @include desktop {
            display: block;
            padding: 10px;
          }
        }
      }
    } //end of article(.post)
    .ajax-load-more-wrap {
      padding-top: 3rem;
      @include desktop {
           padding: 12rem;
        // padding-right: 12rem;
        // padding-left: 12rem;
      }
      .alm-listing {
        padding: 2rem;
        @include tablet {
          padding: 3rem;
        }
        @include desktop {
          padding: 0rem;
        }
        li {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          border: 1px solid #d7d0f2;
          box-shadow: 0 2px 2px #42299a;
          padding: 0;
          img {
            width: 100%;
            object-fit: cover;
            height: 300px;
            position: static;
            @include tablet {
              height: 500px;
            }
            @include desktop {
              height: 600px;
            }
          }
          h3 {
            padding: 10px;
            line-height: 1.5rem;
            a {
              font-size: 1.3rem;
              margin-top: 6px;
              padding: 0;
              font-family: $montserrat__font;

             
            }
          }
          .entry-meta {
            padding: 10px;
          }
          p {
            font-size: 0.85rem;
            padding: 10px;
            line-height: 22px;
            font-size: 0.85rem;
            margin: 0;
          }
        }
      }
    } //end of .ajax-loader
  }
}

.post-template-default {
  .site-content {
    .post {
      .entry-header {
        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
        .entry-content {
          padding: 2rem;
        }
      }
    }
  }
}

.post-navigation {
  padding: 3rem;
  h3.more-article {
    text-align: center;
  }
  .more-post {
    @include desktop {
      display: flex;
      justify-content: space-around;
    }
    .next-post,
    .previous-post {
      border: 1px solid #d7d0f2;
      box-shadow: 0 2px 2px #42299a;
      margin-bottom: 3rem;
      @include desktop {
        margin: 3rem;
      }
      .next-post-image,
      .prev-post-image {
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .next-post-content,
      .prev-post-content {
        .next-post-title,
        .prev-post-title {
          .next-post-meta,
          .prev-post-meta {
            color: #a7a3d6;
            padding: 10px;
          }
          h3.entry-title {
            padding-bottom: 10px;
            padding: 10px;
          }
        }
      }
    }
  }
}
.blog {
  .alm-btn-wrap .alm-load-more-btn {
    height: 60px;
    width: 160px;
    border-radius: 6px;
    background-color: $credible__blue;
    &:hover {
      background-color: $credible__blue;
    }
    .ajax-load-more-wrap {
      display: flex;
    }
  }
}

//blog post read More Button
.blog {
  .read-more {
    position: relative;
    text-align: right;
    padding-right: 1rem;
    font-size: 1rem;
    padding-right: 24px;
    padding-bottom: 15px;
    @include desktop {
      padding-bottom: 30px;
    }
    .read-more-button {
      color: $color__link;
      padding-bottom: 15px;
      padding-right: 24px;
      font-size: 1.2rem;
    }
    .read-more-arrow {
      font-size: 4rem;
      color: $color__link;
      position: absolute;
      bottom: -6px;
      right: 17px;
      @include desktop {
        bottom: 7px;
      }
    }
  }
}
//single-post read more button
.single {
  .read-more {
    position: relative;
    text-align: right;
    padding-right: 1rem;
    font-size: 1rem;
    padding-right: 24px;
    padding-bottom: 15px;
    @include desktop {
      padding-bottom: 30px;
    }
    .read-more-button {
      color: $color__link;
      padding-bottom: 15px;
      padding-right: 24px;
      font-size: 1.2rem;
    }
    .read-more-arrow {
      font-size: 4rem;
      color: $color__link;
      position: absolute;
      bottom: 20px;
      right: 17px;
      @include tablet {
        bottom: 22px;
      }
      @include desktop {
        bottom: 37px;
      }
    }
  }
}

/* Single-Post */
.post-template-default {
  line-height: 2rem;
  .site-content {
    padding: 0;
    .post {
      .entry-header {
        width: 100%;
      }
      .entry-content {
        padding: 2em;
        @include desktop {
          display: flex;
          flex-direction: column;
          padding-left: 8em;
        }
        .entry-title {
          line-height: 1.2em;
          .entry-meta {
            font-size: 1.2rem;
            color: #a7a3d6;
            font-weight: bold;
          }
          h2 {
            color: $credible__blue;
          }
        }
        .entry-main {
          @include desktop {
            padding: 2rem;
            width: 60%;
          }
          .post-quote {
            color: $credible__blue;
            padding: 2px;
            line-height: 2em;
            font-size: 1.2rem;
            font-weight: bold;
            font-style: italic;
            @include tablet {
              font-size: 2rem;
              @include desktop {
                line-height: 2em;
                font-size: 2rem;
              }
            }
          }
          h3 {
            font-size: 1.2rem;
            font-weight: 700;
          }
        }
        .entry-footer {
          a {
            color: $credible__blue;
          }
        }
        p {
          line-height: 1.8rem;
        }
      }
    }
  }
}
/* pseudo quote */
.post-quote {
  &::before {
    content: '\f10d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: $credible__blue;
    font-size: 20px;
    padding: 30px;
  }
  &::after {
    content: '\f10e';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: $credible__blue;
    font-size: 20px;
    padding: 30px;
  }
}
//single part 
.next-post-intro{
  display: none;
  @include desktop{
    display: block;
  }
}
.next-post-quote{
  display: none;
}
.pre-nav-1, .next-1{
    display: none;
}
.pre-post-main, .next-post-main{

}


