/*--------------------------------------------------------------
# Single Charity Page
--------------------------------------------------------------*/

/* Main Content with image */
.single-content {
  .main-image {
    width: 100%;
    order: 1;
    @include desktop {
      width: 50%;
      order: 1;
      flex-grow: 1;
    }
  }
  .content-w-image {
    width: 100%;
    order: 2;
    @include desktop {
      width: 50%;
      order: 2;
      flex-grow: 1;
    }
    h3 {
      color: $innovative__purple;
      text-align: center;
      @include desktop {
        text-align: left;
      }
    }
  }
  &:nth-child(even) {
    @include desktop {
      .main-image {
        order: 2;
      }
      .content-w-image {
        order: 1;
      }
    }
  }
}

/* link charity and givewell website */
.link-charity {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 6px;
}
.report-button {
  height: 51px;
  width: 123px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin: 9px;
  border: 2px solid #48209f;
  border-radius: 6px;
  padding: 6px;
  background: $white;
  @include tablet {
    width: 151px;
    font-size: 1rem;
  }
  &:hover{
    background:$innovative__purple;
    color: $white;
    text-shadow: #f9f5ed;
  }
}

/* single content */
.single-charity {
  .site-content {
    display: flex;
    flex-direction: column;
    padding: 0;
    article {
      .charity-header {
        text-align: center;
        position: relative;
        .charity-image {
          width: 100%;
          img {
            object-fit: cover;
            width: 100%;
            height: 27vh;
            @include tablet {
              height: 41vh;
            }
            @include desktop {
              height: 62vh;
            }
          }
        }
        .charity-logo-container {
          display: flex;
          align-items: center;
          position: absolute;
          background: $white;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          bottom: -40px;
          padding-left: 14px;
          padding-right: 14px;
          left: 50%;
          transform: translateX(-50%);
          @include tablet {
            padding: 0 35px 0 35px;
            width: 200px;
            height: 200px;
            bottom: -69px;
          }
          .charity-logo {
            text-align: center;
            width: 100%;
          }
        }
      }
      .entry-content {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        .entry-title {
          text-align: center;
          text-transform: capitalize;
          margin-bottom: 2rem;
          font-size: 1.5rem;
          color: $credible__blue;
          @include tablet {
            font-size: 1.8rem;
          }
          @include desktop {
            font-size: 2.5rem;
          }
        }
        .amount-funded {
          background-color: rgba(216, 216, 216, 0.18);
          text-align: center;
          p:first-child {
            padding-top: 1.2rem;
            font-size: 1.2rem;
            margin: 0;
            color: $innovative__purple;
            font-weight: bold;
            line-height: 11px;
            letter-spacing: 1px;
            font-style: normal;
            @include tablet {
              font-size: 1.5rem;
              line-height: 26px;
            }
            @include desktop {
              font-size: 40px;
            }
          }
          p {
            color: $innovative__purple;
            font-weight: bold;
            font-size: 1.2rem;
            line-height: 0px;
            letter-spacing: 1px;
            @include tablet {
              font-size: 1.5rem;
            }
            @include desktop {
              font-size: 2rem;
              line-height: 26px;
            }
          }
          .charity-amount-title {
            font-size: 1.2rem;
            margin: 0;
            color: $innovative__purple;
            font-weight: bold;
            line-height: 29px;
            letter-spacing: 1px;
            font-style: normal;
            @include desktop {
              font-size: 40px;
              margin: 19px;
            }
          }
        }
        .charity-description {
          p {
            font-size: 0.9rem;
            font-weight: 300;
            line-height: 1.8rem;
            text-align: center;
            padding: 10px;
            margin: 0 auto;
            @include tablet {
              line-height: 2.4rem;
              font-size: 18px;
            }
            @include desktop {
              width: 950px;
              padding: 3rem 0 3rem 0;
            }
          }
        }
        .charity-video {
          text-align: center;
          height: 100%;
          display: flex;
          justify-content: center;
          padding: 10px;
          @include tablet {
            padding: 21px;
            @include desktop {
              height: 421px;
            }
          }
          iframe {
            height: 236px;
            @include tablet {
              height: 323px;
            }
          }
        }
        .main-content {
          background-color: #f9f5ed;
          display: flex;
          flex-direction: column;
          padding: 21px;
          align-items: center;
          .single-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include desktop {
              flex-direction: row;
              max-width: 950px;
            }
            .main-image {
              text-align: center;
              position: relative;
              img {
                width: 100%;
                @include tablet {
                  width: 70%;
                }
                @include desktop {
                  width: 84%;
                }
              }
            }
            .content-w-image {
              .p-description {
                width: 100%;
                text-align: justify;
                margin: 2rem auto;
              }
            }
          }
          .h3-title {
            text-align: center;
            color: $innovative__purple;
            @include desktop {
              text-align: left;
              font-size: 35px;
            }
          }
        }
      }
    }
  }
}

/* no image style*/
.single-charity {
  .button-no-image {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  h3 {
    text-align: center;
    color: $innovative__purple;
  }
  .content-wo-image {
    text-align: justify;
    @include tablet {
      padding-bottom: 1rem;
    }

    a {
      text-align: center;
    }
  }
}

/* browse charities */
.browse-charities-title {
  text-align: center;
}
/* donate button */
.single-charity .chimp-donate-form {
  justify-content: center;
  margin: 1rem auto;
}
