/*--------------------------------------------------------------
# Single Charity Page
--------------------------------------------------------------*/

/* Main Content Section */
.single-content {
  .main-image {
    width: 100%;
    order: 1;
    @include desktop {
      width: 50%;
      order: 1;
      flex-grow: 1;
    }
  }
  .content-w-image {
    width: 100%;
    order: 2;
    @include desktop {
      padding: 34px;
      width: 50%;
      order: 2;
      flex-grow: 1;
    }
    h3{
      color: $innovative__purple;
      text-align: center;
      @include  desktop{
        text-align: left;
      }
    }
  }
  &:nth-child(even) {
    @include desktop {
      .main-image {
        order: 2;
      }
      .content-w-image {
        order: 1;
      }
    }
  }
}

/* common parts */
.report-button {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3px;
  border: 2px solid #48209f;
  border-radius: 6px;
  padding: 6px;
    background: $white;
}

/* charity page */
.single-charity {
  .site-content {
    display: flex;
    flex-direction: column;
    padding: 0;

    article {
      .charity-header {
        text-align: center;
        position: relative;
        .charity-image {
          width: 100%;
          img {
            object-fit: cover;
            width: 100%;
            height: 27vh;
            @include tablet {
              height:  41vh;
            }
            @include desktop {
              height: 62vh;
            }
          }
        }
        .charity-logo-container {
          display: flex;
          align-items: center;
          position: absolute;
          background: $white;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          bottom: -40px;
          padding-left: 14px;
          padding-right: 14px;
          left: 50%;
          transform: translateX(-50%);
          @include tablet {
            padding-left: 35px;
            padding-right: 35px;
            width: 200px;
            height: 200px;
            bottom: -61px;
          }
          .charity-logo {
            text-align: center;
            width: 100%;
          }
        }
      }
      .entry-content {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        .entry-title {
          text-align: center;
          text-transform: capitalize;
               margin-bottom: 2rem;
          font-size: 1.5rem;
          color: $credible__blue;
          @include tablet {
            font-size: 35px;
          }
        }
        .amount-funded {
          background-color: rgba(216, 216, 216, 0.18);
          text-align: center;
          .counter-p{
           padding-top:1.2rem;
           font-size: 1.2rem;
            margin:0;
            color: $innovative__purple;
            font-weight: bold;
             line-height: 29px;
            letter-spacing: 1px;
            font-style: normal;
            @include desktop {
              font-size: 40px;
            }
          }
          .charity-amount-title{
               font-size: 1.2rem;
            margin:0;
            color: $innovative__purple;
            font-weight: bold;
             line-height: 29px;
            letter-spacing: 1px;
            font-style: normal;
            @include desktop {
              font-size: 40px;
                  margin: 19px;
            }
          }
        }
        .charity-description {
          p {
            padding: 20px;
            font-style: normal;
            margin-left: auto;
            margin-right: auto;
            font-size: 0.9rem;;
            font-weight: 300;
            line-height: 1.8rem;
            text-align: center;
            @include desktop {
              width: 800px;
              line-height: 2.4rem;
              font-size: 18px;
            }
          }
        }
        .charity-video {
          text-align: center;
          height: 100%;
          text-align: center;
          height: 100%;
          display: flex;
          justify-content: center;
          padding:10px;
          @include tablet{
            padding:21px;
            @include desktop{
                  height: 421px;
            }
          }
          iframe{
            height:236px;
            @include tablet{
                  height: 323px;
            }
          }
        }
        .main-content {
          background-color: #F9F5ED;
          display: flex;
          flex-direction: column;
          padding: 21px;
          align-items: center;
          .single-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include desktop {
              flex-direction: row;
            }
            .main-image {
              text-align: center;
              position: relative;
              img {
                width: 100%;
                @include tablet {
                  width: 70%;
                }
                @include desktop {
                  width: 92%;
                }
              }
            }
            .content-w-image {
              .p-description {
                width: 100%;
                text-align: justify;
                margin-bottom: 2em;
                margin-top: 2em;
              }
            }
          }
          .h3-title {
            text-align: center;
            color: #42299a;
            @include desktop {
              text-align: left;
              font-size: 35px;
            }
          }
        }
      }
    }
  }
}

.custom-plan {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 3rem;
  padding: 2rem 6rem;
  text-align: center;
}

/* individual part */

.single-charity {
  .button-no-image {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  h3 {
    text-align: center;
       color: $innovative__purple;
  }
  .content-wo-image {
 
    @include tablet {
      text-align: left;
      padding-bottom: 1rem;
    }

    a {
      text-align: center;
    }
  }
}

.browse-charities-title {
  text-align: center;
}
.single-charity .chimp-donate-form {
  display: flex;  margin: auto;
  justify-content: center;
  width: 12rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: $code__blue;
  font-size: 1rem;
  font-weight: 700;
  padding: 1.2rem 3rem;
  color: $grounded__green;
  border-radius: 8px;
  @include tablet {
    font-size: 1.2rem;
 
  }
  @include desktop {
    font-size: 1.7rem;
 

  }
}

.link-charity {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;

  @include desktop {
  }
}

//custom plan
.single-charity {
  .custom-plan {
    max-width: $max-content-size-mobile;
    @include tablet {
      max-width: 500px;
    }
    @include tablet-large {
      max-width: $max-content-size;
    }
    @include desktop {
      max-width: $max-content-size;
    }
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 1rem;
    @include tablet-large {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
    grid-gap: 2rem;
    @include tablet {
      grid-gap: 3rem;
    }
    text-align: center;
    .single-custom-plan {
      padding: 2rem 0;
      grid-template-columns: 1fr;
      grid-template-rows: 150px 70px 70px;
      @include tablet {
        height: 490px;
        padding: 2rem 3rem;
        grid-template-rows: 150px 50px auto 50px;
      }

      display: grid;

      p {
        display: none;
        @include tablet {
          display: block;
        }
      }
      h3 {
        @include font-size(1.125);
        @include tablet {
          @include font-size(1.3);
        }
      }
      img {
        height: 150px;
        margin: 0 auto;
        @include tablet-large {
          height: 130px;
        }
        @include desktop {
          height: 150px;
        }
      }
      @include box-shadow();
      button,
      a {
        background: $credible__blue;
        &:hover {
          box-shadow: 0px 2px 2px darken($credible__blue, 20%);
          text-shadow: 1px 0.5px 1px white;
        }
        padding: $button__padding;
        color: white;
        font-weight: 600;
        width: 12rem;
        border: none;
        box-shadow: none;
        display: block;
        margin: 0 auto;
        @include font-size(1.3);
        border-radius: 7px;
      }
    }
  }
}
