// /*--------------------------------------------------------------
// # Content
// --------------------------------------------------------------*/

// /* Posts and pages */

// .sticky {
// 	display: block;
// }

// .hentry {
// 	margin: 0 0 $base__space-unit;
// }

// .updated:not(.published){
// 	display: none;
// }

// .single .byline,
// .group-blog .byline {
// 	display: inline;
// }

// .page-content,
// .entry-content,
// .entry-summary {
// 	margin: $base__space-unit 0 0;
// }

// .page-links {
// 	clear: both;
// 	margin: 0 0 $base__space-unit;
// }

// /* Asides */

// .blog .format-aside .entry-title,
// .archive .format-aside .entry-title {
// 	display: none;
// }

// /* Comments */

// .comment-content a {
// 	word-wrap: break-word;
// }
// .bypostauthor {
// 	display: block;
// }

body {
  background: $credible__blue;
  color: $grounded__green;
  font-family: $montserrat__font;
  
  @include font-size(0.9);
  @include tablet{
    @include font-size(1);
  };
}

.site-content {
  padding-bottom: 3rem;
}

.site {
  max-width: $max-screen-size;
  margin: 0 auto;
  background: white;
}

/* Chimp Donate Button */
.chimp-donate-form, .donate-page-button {
  background-color: $code__blue;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 3rem;
  color: $grounded__green;
  border-radius: 8px;
  @include tablet {
    font-size: 1.2rem;
    padding: 1rem 3rem;
  }
  @include desktop {
    font-size: 1.7rem;
    padding: 1.5rem 3.7rem;
  }
}

/* Transition for single content charity button */
body {
  .hide-mobile {
    display: none;
    @include desktop {
      display: flex;
    }
  }

  .hide-desktop {
    display: flex;
    @include desktop {
      display: none;
    }
  }
}

.header-offset{
  @include tablet-large{
    height:82px;

  }
}