// /*--------------------------------------------------------------
// # Content
// --------------------------------------------------------------*/

// /* Posts and pages */

// .sticky {
// 	display: block;
// }

// .hentry {
// 	margin: 0 0 $base__space-unit;
// }

// .updated:not(.published){
// 	display: none;
// }

// .single .byline,
// .group-blog .byline {
// 	display: inline;
// }

// .page-content,
// .entry-content,
// .entry-summary {
// 	margin: $base__space-unit 0 0;
// }

// .page-links {
// 	clear: both;
// 	margin: 0 0 $base__space-unit;
// }

// /* Asides */

// .blog .format-aside .entry-title,
// .archive .format-aside .entry-title {
// 	display: none;
// }

// /* Comments */

// .comment-content a {
// 	word-wrap: break-word;
// }
// .bypostauthor {
// 	display: block;
// }

body {
  background: $credible__blue;
  color: $grounded__green;
  font-family: $montserrat__font;
  @include font-size(0.9);
  @include tablet{
    @include font-size(1);
  };
}
.site {
  max-width: $max-screen-size;
  margin: 0 auto;
  background: white;
}
// .site-content {
//     padding: 1.5rem;
//   @include desktop {
//     padding: 3rem;
//   }
// }

/* Chimp Donate Button */
.chimp-donate-form, .donate-page-button {
  background-color: $code__blue;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.6rem 5.3rem;
  color: $grounded__green;
  border-radius: 8px;
  @include tablet {
  }
  @include desktop {
  }
}
