/*--------------------------------------------------------------
# Contact Page
--------------------------------------------------------------*/

.page-template-page-contact {
  .site-content {
    @include tablet {
      padding: 0 2rem 2rem 2rem;
    }
    .post-25 {
      display: flex;
      flex-direction: column;
      padding: 24px;
      @include tablet {
        padding: 0;
      }
      .entry-header {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        h2 {
          color: $credible__blue;
          margin: 0;
          @include tablet {
            margin: auto;
            font-size: 2rem;
          }
        }
      }
      h4 {
        font-weight: normal;
        height: 62px;
        border-radius: 5px;
        margin: 0;
        padding: 10px;
        text-align: center;
        font-size: 1rem;
        @include tablet {
          margin-bottom: 4em;
          margin-top: 0;
          color: $credible__blue;
        }
        @include desktop {
          font-size: 25px;
        }
      }
      .contact-text {
        @include tablet {
          text-align: center;
        }
        p {
          margin: 0;
          strong {
            font-weight: 600;
            font-style: normal;
            color: $credible__blue;
            line-height: 16px;
            @include tablet {
              text-align: center;
              font-size: 20px;
            }
          }
        }
      }
      .entry-content {
        p {
          font-style: normal;
          @include tablet {
            font-size: 20px;
          }
          strong {
            font-weight: 600;
            @include tablet {
              text-align: center;
            }
          }
        }
        .wp-block-column {
          margin: 0;
          font-style: normal;
          @include tablet {
          }
          p:first-child {
            font-weight: normal;
            color: $black;
            @include tablet {
              text-align: justify;
            }
          }
          figure {
            margin: 0;
            display: none;
            @include tablet {
              display: block;
            }
          }
        }
        .wp-block-column {
          .wpcf7 {
            p {
              label {
                font-weight: bold;
                @include tablet {
                  color: $credible__blue;
                  font-weight: 300;
                }
                input {
                  background: rgba(64, 206, 190, 0.1);
                  border-radius: 5px;
                  border: rgba(64, 206, 190, 0.1);
                  height: 40.06px;
                  width: 100%;
                  margin-top: 9px;
                  margin-bottom: 13px;
                }
                textarea {
                  background: rgba(64, 206, 190, 0.1);
                  border-radius: 5px;
                  border: rgba(64, 206, 190, 0.1);
                  width: 100%;
                  margin-top: 9px;
                  margin-bottom: 13px;
                }
              }
              input[type='submit'] {
                background: $credible__blue;
                border: 2px solid $credible__blue;
                color: $white;
                border-radius: 5px;
                font-size: 1.4rem;
                width: 156px;
                height: 54px;
                font-size: 1.4rem;
                @include tablet {
                  color: $credible__blue;
                  border: 2px solid $credible__blue;
                  background: $white;
                    &:hover {
                  background: $innovative__purple;
                  color: $white;
                  text-shadow: #f9f5ed;
                }
                }
                &:hover {
                  background: $innovative__purple;
                  color: $white;
                  text-shadow: #f9f5ed;
                }
              }
            }
          }
        }
      }
    }
  }
}
.wpcf7-form {
  padding: 0;
  @include desktop {
    padding-left: 3rem;
  }
  p:last-of-type {
    text-align: center;
    @include tablet {
      text-align: right;
    }
  }
}
.wp-block-columns {
    
  flex-direction: column;
  @include desktop {

    margin: 0 auto;
    flex-direction: row;
    padding: 40px;
  }
}

.contact-browse {
  @include tablet {
    display: none;
  }
}
//remove focus outline/border/override
.wpcf7-submit{
  &:focus{
    outline: none;
  }
}
.wpcf7-validation-errors{
      border: 0;
        font-size:1rem;
  &:focus{
  border: 0;
  outline: 0;
  }
}
div.wpcf7-mail-sent-ok {
  border: none;
  font-weight: 600;
  color: $credible__blue;
    text-align: center;
     @include desktop{
      text-emphasis:left;
    }
  
}
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  text-align: center;
  border: none;
  font-weight: 600;
    color: $credible__blue;
    @include desktop{
      text-emphasis:left;
    }
}