// /*--------------------------------------------------------------
// # Content
// --------------------------------------------------------------*/

// /* Posts and pages */

// .sticky {
// 	display: block;
// }

// .hentry {
// 	margin: 0 0 $base__space-unit;
// }

// .updated:not(.published){
// 	display: none;
// }

// .single .byline,
// .group-blog .byline {
// 	display: inline;
// }

// .page-content,
// .entry-content,
// .entry-summary {
// 	margin: $base__space-unit 0 0;
// }

// .page-links {
// 	clear: both;
// 	margin: 0 0 $base__space-unit;
// }

// /* Asides */

// .blog .format-aside .entry-title,
// .archive .format-aside .entry-title {
// 	display: none;
// }

// /* Comments */

// .comment-content a {
// 	word-wrap: break-word;
// }
// .bypostauthor {
// 	display: block;
// }
body{
    background: $credible__blue;
}
.site{
    max-width: $max-screen-size;
    background: white;
}
.site-content{
    padding:1rem;
    @include tablet{
        padding:2rem;
    }
    @include desktop{
        padding:5rem;
    }
}
/* Chimp Donate Button */
  .chimp-donate-form {
        background: $code__blue;
        margin-top: 10px;
        width: 160px;
        height: 60px;
        border-radius: 6px;
        color: $grounded__green;
        font-weight: bold;
      }
