* {
    box-sizing: border-box;
}

.main-carousel{
    // margin:2rem;
    max-width: 240px;
    @include tablet{
        max-width: 450px;
    }
    @include tablet-large{
        max-width:650px;
    }
    @include desktop{
    max-width: 900px;
    }
    margin: 2rem auto;


.flickity-viewport {
    position: relative;
    height:270px;

//  &::before {
//     content: '';
//     left: 0;
//     position: absolute;
//      background: rgba(white, 0.6);
//      background: linear-gradient(to right, rgba(white, 1), rgba(white, 0));
//      width: 60px;
//      height: 100%;
//      z-index: 1;
//  }
//  &::after {
//      content: '';
//      right: 0;
//      position: absolute;
//      background: rgba(white, 0.6);
//      background: linear-gradient(to left, rgba(white, 1), rgba(white, 0));
//      width: 60px;
//      height: 100%;
//  }
}


.flickity-prev-next-button {
    padding:0;
    width:50px;
    height:50px;
    @include tablet{
        width:60px;
        height:60px;
    }
    background-color:transparent;
    &:hover{
        background-color:transparent;
    }
    path{
        fill:lighten($innovative__purple, 30%);
        &:hover{
        fill:$innovative__purple;

        }

    }
    &.previous{
        left:-40px;
        @include tablet{
            left:-60px;
        }
    }
    &.next{
        right:-40px;
        @include tablet{
            right:-60px;
        }   
    }
}
}


ol.flickity-page-dots{
    margin-bottom:-2rem;
    .dot{
        width:15px;
        height:15px;
        background:lighten($innovative__purple, 30%);
        &.is-selected{
            background:$innovative__purple;
        }
    }
}
.carousel-cell {
    @include box-shadow();
    width:98%;
    margin: 0 9px;
    @include tablet{
        width:45%;
        margin: 0 20px;
    }
    @include tablet-large{
        width:28%;
        margin: 0 19px;
    }
    @include desktop{
        width: 23.5%; /* half-width */
        margin: 0 8px;
    }
    height: 230px;

    
    overflow: hidden;

   
    img{
        max-width: 100%;
        max-height:100%;
    }
    .thumbnail-wrapper{
        height:175px;
        position: relative;
    }
    .charity-logo{
        position:absolute;
        width:80px;
        height:80px;
        padding:0 15px;

        background:white;   
        bottom:-22px;
        border-radius: 50%; 
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        img{
            width:60%;
            display: block;
            margin:0; 
            width:100%;

        }
    }
    .post-title{
        margin-top:1.3rem;
        font-size: 0.8rem;  
        text-align: center;
        padding:0 1rem;
        .post-name{
            display:block;
            line-height:.8rem;
        }
    }

}
.browse_charities_button{
    margin-top:7.5rem;
    margin-bottom:2rem;
    @include tablet{
        margin-bottom:5rem;
    }
    text-align: center;
    a{
        background:$code__blue;
        padding:1.1rem 1.5rem;
        border-radius: 7px; 
        &:hover{
            text-shadow: $textshadow__green;
            box-shadow: 0px 2px 2px darken($code__blue,30%);
        }
    }
}
.browse-charity-subtitle{
    font-weight:600;
}

