.site-footer {
  .footer-site-logo {
    a {
      .rcforward-logo {
        color: $white;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
  .footer-nav {
      display: none;
  }
  .footer-info {

  }
  .footer-info-sm {
      
  }
}
