//common parts
.why-donate{
    text-align: center;
    .why-donate-content{
        @include display-flex();
        padding:2rem 7rem;
        justify-content: space-between;
        img{
            width:120px;
        }
    }
}

.custom-plan{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap:3rem;
    padding:2rem 6rem;
    text-align: center;
    .single-custom-plan{
        height:450px;
        padding:2rem 3rem;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 50px auto 50px;
        img{
            height:130px;
            margin:0 auto;
        }
        @include box-shadow();
        button, a{
            background:$credible__blue;
            padding:$button__padding;
            color:white;
            font-weight:600;
            width:9rem;
            border:none;
            box-shadow: none;
        }
        button{
            margin-top:-1rem;
        }

    }
}

//front page

.home{
    .entry-header{
        padding:$content__padding;
        display:flex;
        .header-content{
            flex-basis:50%;
            a{
                // @include button();
                // display:inline-block;
                width:8rem;
                margin:auto 1rem;
            }
            .donate-page-button{
                color:$code__blue;
                border:1px solid $code__blue;

            }
        }
    }

    .choose-fund{
        padding:$content__padding;
        .choose-fund-subtitle{
            font-weight:600;
        }
        .choose-fund-description{
            margin:0 auto;
        }

        .fund{
            @include display-flex();
            margin:3rem auto;
            justify-content: space-between;
            .fund-entry{
                @include box-shadow();
                padding:1rem;
                flex-basis:30%;
                display:grid;
                grid-template-columns: 1fr;
                grid-template-rows:60px auto 130px 55px;
                img{
                    width:80px;
                    height:80px;
                    margin:0 auto;
                }
                a{
                    @include button();
                }
            }
        }


    }
}


