// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    } 
}
@mixin tablet-large{
    @media (min-width: $tablet-breakpoint){
        @content;
    }
}
    
@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}

@mixin display-flex(
  $flexDirection: row,
  $justifyContent: center,
  $alignItems: center
) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin box-shadow(){
    border-radius: 10px;
    border:1px solid lighten($innovative__purple,50%);
    box-shadow: 0px 2px 2px $innovative__purple;
    &:hover{
        box-shadow: 0px 3px 5px $innovative__purple;
    }
}

@mixin button($background-color: $innovative__purple){
    padding:$button__padding;
    background-color:$background-color;
    border-radius: 7px;
    width:10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
    margin: 0 auto;
}

@mixin page-spacing(){
    margin:0 auto;
    padding:1rem;
    @include desktop{
        padding:$content__padding
    }
    text-align: center;
    max-width: 380px;
    @include tablet{
        padding: 2rem 0;
        max-width:500px;
    }
    @include tablet-large{
        max-width:$max-content-size;
    }
}

@mixin purple-button{
    color:$innovative__purple;
    border: 2px solid $innovative__purple;
    &:hover{
        text-shadow: $textshadow__purple;
        box-shadow: 0px 2px 2px $innovative__purple;
    }
}

@mixin green-button{
    background-color:$code__blue;
    &:hover{
        text-shadow: $textshadow__green;
        box-shadow: 0px 2px 2px darken($code__blue,30%);
    }
}