// /*--------------------------------------------------------------
// # Navigation
// --------------------------------------------------------------*/

.main-navigation {
  @include tablet {
    .menu-item-has-children {
        position: relative;
      &:hover {
        > ul {
          position: absolute;
          right: 0;
          z-index: 99;
          display: block;
        }
      }
    }
  }
}
