/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Default Page styling (for all pages) */
* {
  box-sizing: border-box;
}

/* Front page */

/* How it works Page */
.page-template-page-how-it-works {
  .site-content {
    .entry-header {
      background-color: $blue__background;
      .entry-title {
        text-align: center;
        margin: 0;
        font-size: 1.6rem;
        padding-top: 4rem;
        color: $credible__blue;
        @include tablet {
          font-size: 1.8rem;
        }
        @include desktop {
          font-size: 2rem;
        }
      }
      .page-description {
        width: 68%;
        text-align: center;
        margin: 1.3rem auto;
        font-size: 1.1rem;
        line-height: 2.5rem;
        @include tablet {
          font-size: 1.4rem;
        }
        @include desktop {
          font-size: 1.5rem;
          width: 50%;
        }
      }
      .how-it-works-steps {
        @include display-flex();
        width: 100%;
        .text-steps {
          width: 90%;
          @include display-flex();
          flex-direction: column;
          @include desktop {
            @include display-flex();
          }
          .work-step {
            width: 18rem;
            @include display-flex();
            flex-direction: row;
            @include tablet {
              width: 27rem;
            }
            @include tablet-large {
              width: 42rem;
            }

            @include desktop {
              @include display-flex();
              flex-direction: column;
            }
            .work-step-icon {
              display: none;
              @include desktop {
                display: unset;
              }
            }
            .mobile-step {
              padding-bottom: 1.7rem;
              @include tablet {
                padding-bottom: 0;
                padding-top: 1rem;
              }
              @include desktop {
                display: none;
              }
            }

            .step-text {
              .work-step-title,
              .work-step-description {
                margin: 1rem;
                font-size: 1rem;

                line-height: 1.5rem;
              }
            }
            .work-step-title {
              font-weight: bolder;
              color: $credible__blue;
              @include tablet {
                margin-top: 0;
              }
              @include desktop {
              }
            }
          }
        }
      }
      .entry-donate-page {
        @include display-flex();
        flex-direction: column;
        .get-started {
          font-size: 1rem;
          font-weight: bolder;
          @include tablet {
            font-size: 1.2rem;
          }
          @include desktop {
          }
        }

        @include desktop {
          margin: 2rem 0;
        }
      }
      .entry-contact-us {
        font-size: 1.3rem;
        text-align: center;
        padding-bottom: 3rem;
        @include desktop {
          background-color: $cream__background;
          padding: 3rem 0;
        }
        .mobile-text {
          font-weight: bolder;
          margin: 3rem 0;
          @include desktop {
            margin-top: 0;
            margin-bottom: 2rem;
          }
        }
        .desktop-text {
          display: none;
          @include tablet {
          }
          @include desktop {
          }
        }
        .contact-us-button {
          border: 2px solid $innovative__purple;
          font-size: 1.1rem;
          font-weight: 700;
          padding: 1.2rem 2.6rem;

          display: inline-block;
          color: $innovative__purple;
          border-radius: 8px;
          @include tablet {
            font-size: 1.4rem;
            padding: 1.4rem 3.2rem;
          }
          @include desktop {
            font-size: 1.7rem;
            padding: 1.7rem 4rem;
          }
        }
      }
    }
    .entry-main {
      margin: 4rem 2rem 0;
      @include display-flex();
      flex-direction: column;
      p {
        strong {
          font-size: 2rem;
          color: $credible__blue;
          line-height: 3rem;
          @include tablet {
            font-size: 2.2rem;
          }
          @include desktop {
            font-size: 2.5rem;
          }
        }
      }

      h3 {
        display: none;
        @include desktop {
          display: unset;
          font-size: 2rem;
        }
      }

      @include tablet {
        & .wp-block-columns:first-child {
          position: relative;
          & .wp-block-column:first-child {
            position: absolute;
          }
          & .wp-block-column:last-child {
            position: absolute;
          }
        }
      }
      @include desktop {
        .wp-block-columns {
          & .wp-block-column:first-child {
            & p:first-child {
              strong {
                color: $credible__blue;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
      & .wp-block-columns:first-child {
        @include desktop {
          & .wp-block-column:last-child {
            .wp-block-image {
              text-align: right;
            }
          }
        }
      }
      & .wp-block-columns:nth-child(2n) {
        @include desktop {
          order: unset;
        }
      }

      & .wp-block-columns:nth-child(3n),
      & .wp-block-columns:last-child {
        margin: 0 auto;
        & .wp-block-column:first-child {
          & p:first-child {
            width: 87%;
            strong {
              font-size: 1.5rem;
              line-height: 1.6rem;
              color: $grounded__green;
            }
          }
        }
      }
      & .wp-block-columns {
        .wp-block-column {
          margin-bottom: 0;
          & p:nth-child(2n),
          p:last-child {
            font-size: 1rem;
            width: 90%;
            line-height: 1.97rem;
            @include tablet {
              font-size: 1.2rem;
            }
          }
        }
      }
      & .wp-block-columns:last-child {
        & .wp-block-column:first-child {
          order: 1;
          @include desktop {
            order: unset;
          }
          p {
            @include tablet {
              margin-left: 1.7rem;
            }
          }
        }
        & .wp-block-column:last-child {
          text-align: center;
          @include tablet {
            margin-left: 0;
          }
        }
        @include desktop {
          & .wp-block-column:first-child {
            p {
              margin-left: 0;
            }
          }
        }
      }
      & .wp-block-columns:first-child,
      .wp-block-columns:nth-child(2n) {
        & .wp-block-column:last-child {
          display: none;
          @include tablet {
            display: unset;
          }
          @include desktop {
            .wp-block-image {
              text-align: right;
            }
          }
        }
      }
    }
    .why-donate {
      background-color: $cream__background;
      span {
        display: inline-block;
      }
    }
    .carousel-title {
      text-align: center;
    }
  }
}

/* Single Fund Pages */
.single-fund {
  .hfeed {
    .site-content {
      .type-fund {
        display: flex;
        flex-direction: column;
        text-align: center;
        .fund-header {
          position: relative;
          .fund-image {
            img {
              object-position: center;
              width: 100%;
              object-fit: cover;
            }
          }
          .fund-icon-container {
            display: flex;
            justify-content: center;
            .fund-icon {
              position: absolute;
              bottom: -20px;
              width: 10rem;
              border-radius: 50%;
              border: 25px $white solid;
            }
          }
          @include desktop {
            .fund-image {
              img {
                object-position: 50% 18%;
              }
            }
          }
        }

        .entry-content {
          width: 85%;
          margin: 0 auto 2.3rem;
          p {
            font-size: 1.4rem;
            line-height: 2.4rem;
            margin-top: 0;
          }
          .entry-title {
            font-size: 1.4rem;
            color: $credible__blue;
            width: 90%;
            margin: 2rem auto;
            text-align: center;
            text-transform: capitalize;
          }
          .amount-funded {
            background-color: rgba(216, 216, 216, 0.18);
            font-size: 2.2rem;
            color: $innovative__purple;
            margin: 0;
            padding: 0.6rem 0.8rem;
            font-weight: 700;
            p {
              &:nth-child(2n) {
                font-size: 1.6rem;
              }
            }

            .chimp-donate-form {
              margin: 0.3rem auto 0.6rem;
              font-size: 1.3rem;
            }
          }
          .fund-description {
            margin: 3rem 0;
            p {
              width: 80%;
              line-height: 2.4rem;
              font-size: 1.2rem;
              font-weight: lighter;
              word-wrap: break-word;
              margin: 0 auto;
            }
          }
          .fund-video {
            p {
              margin: 0;
              iframe {
                width: 100%;
              }
            }
          }
          .main-content {
            padding: 3rem 0;
            background-color: $cream__background;
            .fund-allowcation {
              display: flex;
              justify-content: center;
              flex-direction: column;
              width: 100%;
              h3 {
                width: 88%;
                word-wrap: break-word;
                color: $credible__blue;
                margin: 0 auto;
                font-size: 1.3rem;
                line-height: 2.4rem;
                font-weight: 600;
              }
              .fund-allowcations {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: 4rem;
                .single-allocation {
                  margin-top: 2rem;
                  margin-bottom: 3.5rem;
                  .charity-logo {
                    width: 15rem;
                    max-height: 25rem;
                  }

                  .allocation-text {
                    .percentage {
                      font-size: 4rem;
                      font-weight: bolder;
                      margin: 3.3rem 0.5rem;
                    }
                    .description {
                      font-size: 1.4rem;
                      margin: 0 2rem;
                      line-height: 2.3rem;
                    }
                  }
                }
              }
            }
          }
          @include desktop {
            .entry-title {
              font-size: 2.2rem;
            }
            .amount-funded {
              & p:first-child {
                font-size: 3.5rem;
                margin-top: 1.2rem;
              }
              & p:nth-child(2n) {
                font-size: 2.2rem;
              }
            }
            .fund-description {
              p {
                font-size: 1.4rem;
              }
            }
            .main-content {
              .fund-allowcation {
                h3 {
                  font-size: 1.6rem;
                  width: 80%;
                }
                .fund-allowcations {
                  .single-allocation {
                    @include display-flex();
                    margin-right: auto;
                    margin-left: auto;
                    padding: 0 10rem;
                    .charity-logo {
                      margin-right: 3rem;
                    }
                    .allocation-text {
                      text-align: left;
                      margin-left: 3rem;
                      .percentage {
                        font-size: 5rem;
                        margin-right: 0;
                        margin-left: 0;
                      }
                      .description {
                        margin: 0;
                        width: 24rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      @include desktop {
        .post-104 {
          .fund-header {
            .fund-image {
              img {
                object-position: 50% 48%;
              }
            }
          }
        }
      }
    }
    .related-charities {
      // max-width: 300px;
      margin:0 auto;
      // margin: 0.4rem auto;
      // width:300px;
      max-width:320px;
      @include tablet{
        max-width: 90%;;
      }
      @include desktop{
        max-width:950px;
      }
      width:90%;
      // width:500px;
      
      .flickity-viewport {
        height: 360px;

        width:100%;
        // width:300px;
        // margin:0 auto;
      }
        
          .carousel-cell {
            left:0;
            text-align: center;
            height: 350px;
            // width:95%;
            @include display-flex();
            flex-direction: column;
            // justify-content: space-around;
            // margin: 0 20%;
            @include tablet-large{
              width:30%;
              // margin:0 -30%;
            }
            @include desktop{
              width:30%;
              // margin: 0 -30%;
            }
            .charity-description {
              // margin: 0 0.7rem;
              font-size: 1rem;
              line-height: 1.3rem;
              padding:0 0.8rem;
              flex-grow:1;

            }
            .read-more-button {
              color: $credible__blue;
              padding-right: 0.5rem;
              width:100%;
              text-align: right;
              height:10%;
            }
            .charity-logo-container{
              width:100%;
              height:40%;
              position: relative;
            }
            .charity-logo {
              border-radius: 0;
              top:50%;
              left:50%;

             

              // padding: 0 1rem;
              transform: translate(-50%,-50%);
              // top: 0;
              // max-width: 92%;
              // max-height: 40%;
              height: auto;
              width:90%;
              max-height:100%;
            }
          }
        
      
      .flickity-prev-next-button {
        &.previous {
          display:none;
        }
        &.next {
          display:none;
        }
      }
    }
    @include tablet {
      .related-charities {
        // max-width: 96%;
        .flickity-viewport {
          // width: 580px;
        }
            .carousel-cell {
              // width: 45%;
              // margin-left: 38px;
              // margin-right: 38px;

            }
            // .previous {
            //   left: -30px;
            //   display: unset;
            // }
            // .next {
            //   right: -30px;
            //   display: unset;
            // }
          
        
      }
    }
    @include tablet-large {
      .related-charities {
        // max-width: 96%;
        .flickity-viewport {
          // width: 38rem;
        }
          .carousel-cell {
            // max-width: 100%;
            // width: 42%;
            // margin: 0 45px;
          }
        
      }
    }
  }
}

/* The Team page */
.page-template-page-team {
  .site-content {
    .entry-header {
      text-align: center;
      color: $credible__blue;
      font-size: 1.2rem;
      padding: 2rem 0;
      border-bottom: 2px solid $credible__blue;
      @include desktop {
        border-bottom: none;
      }
    }
    .entry-content {
      .single-member {
        border-bottom: 2px solid $credible__blue;
        .member-photo {
          margin: 2rem 0;
          text-align: center;
          img {
            border-radius: 50%;
            width: 18rem;
          }
        }
        .member-info {
          color: $grounded__green;
          margin: 0 2rem;
          h3 {
            text-align: center;
          }
          p {
            line-height: 2.3rem;
            font-size: 1.1rem;
          }
        }
        .contact-button {
          text-align: center;
          padding-bottom: 2.5rem;
          padding-top: 4rem;
          a {
            border: 2px solid #42299a;
            font-size: 1.2rem;
            font-weight: bolder;
            padding: 1rem 1.7rem;
            display: inline-block;
            color: $white;
            border-radius: 8px;
            background-color: $credible__blue;
          }
        }
      }
      @include tablet {
        .single-member {
          .member-photo {
            img {
              width: 40%;
            }
          }
        }
        & .single-member:last-child {
          border-bottom: none;
        }
      }
      @include desktop {
        @include display-flex();
        flex-direction: column;
        .single-member {
          @include display-flex();
          width: 80%;
          margin-right: 0;
          margin: 2rem 0;
          border-bottom: none;
          box-shadow: -0.4px 0.2px 5px 0.02px $innovative__purple;
          border-radius: 8px;
          padding: 0.4rem 2rem 1.6rem;
          width: 70%;
          .member-photo {
            img {
              width: 15rem;
            }
          }
          .member-info {
            h3 {
              font-size: 2rem;
              color: $credible__blue;
              text-align: left;
            }
            p {
              font-size: 1.18rem;
              line-height: 1.7rem;
            }
          }
          .contact-button {
            padding: 0 3rem 0;
            text-align: right;
          }
        }
      }
    }
    .custom-plan {
      @include tablet {
        display: none;
      }
      & .single-custom-plan:first-child {
        border: none;
        box-shadow: none;
        h3 {
          font-size: 1.4rem;
        }
        p {
          display: unset;
          margin: 1.5rem 0;
          font-size: 1rem;
          line-height: 1.5rem;
        }
        div {
          margin-top: 3.7rem;
          a {
            margin-top: 2.3rem;
          }
        }
      }
      & .single-custom-plan:last-child {
        display: none;
      }
    }
  }
}

/* FAQ Page */
.page-template-page-faq {
  .entry-header {
    .entry-title {
      display: none;
    }
    h2 {
      text-align: center;
    }
    p {
      display: none;
    }
  }
  .entry-content {
    .faqs {
      .question {
        height: auto;
        max-height: 5rem;
        padding: auto;
        border-bottom: 1px solid $credible__blue;
        @include display-flex();
        justify-content: space-between;
        p {
          font-size: 1rem;
          font-weight: bolder;
          margin-right: 1rem;
          margin-left: 1rem;
        }
        .plus-symbol {
          display: flex;
          cursor: pointer;
          margin-right: 1.6rem;
        }
      }
      .answer {
        display: none;
        p {
          color: $grounded__green;
          font-size: 1rem;
          margin-left: 1rem;
          margin-right: 0.8rem;
          line-height: 1.5rem;
        }
      }
    }
  }
  @include desktop {
    .entry-header {
      @include display-flex();
      flex-direction: column;
      .entry-title {
        text-transform: capitalize;
      }
      p {
        margin-top: 0;
      }
      .entry-title,
      p {
        display: unset;
      }
      & h2:last-child {
        display: none;
      }
    }
    .entry-content {
      .faqs {
        .question {
          border-bottom: 0;

          .plus-symbol {
            display: none;
          }
        }
        .answer {
          display: unset;
          p {
            margin-top: 0;
            margin-bottom: 2.5rem;
          }
        }
      }
    }
  }
}
