/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Default Page styling (for all pages) */
* {
  box-sizing: border-box;
}

/* Front page */

/* Single Fund Pages */
.single-fund {
  .hfeed {
    .site-content {
      .type-fund {
        display: flex;
        flex-direction: column;
        text-align: center;
        .fund-header {
          position: relative;
          .fund-image {
            img {
              object-position: center;
              height: 100vh;
              width: 100%;
              object-fit: cover;
            }
          }
          .fund-icon-container {
            display: flex;
            justify-content: center;
            .fund-icon {
              position: absolute;
              bottom: -20px;
              width: 10rem;
              border-radius: 50%;
              border: 25px $white solid;
            }
          }
        }
        .entry-content {
          .entry-title {
            font-size: 2rem;
            color: $credible__blue;
            width: 50%;
            display: flex;
            margin: 2rem auto;
          }
          .amount-funded {
            background-color: rgba(216, 216, 216, 0.18);
            font-size: 4rem;
            color: $innovative__purple;
            margin: 0;
            padding: 1rem 1.2rem;
            p .counter {
              letter-spacing: 0.25rem;
              &:before {
                content: ' ';
              }
            }
            p .counter,
            p {
              font-weight: 700;
            }
            p {
              &:nth-child(2n) {
                font-weight: 600;
                font-size: 2.8rem;
              }
            }
            p,
            .chimp-donate-form {
              margin: 0.6rem 0;
            }
          }
          .fund-description {
            margin: 3rem 0;
            p {
              width: 80%;
              line-height: 2.4rem;
              font-size: 1.6rem;
              font-weight: lighter;
              word-wrap: break-word;
              margin: 0 auto;
            }
          }
          .main-content {
            margin-top: 2rem;
            padding: 3rem 0;
            background-color: $cream__background;
            .fund-allowcation {
              display: flex;
              justify-content: center;
              flex-direction: column;
              width: 100%;
              h3 {
                width: 70%;
                word-wrap: break-word;
                color: $credible__blue;
                margin: 0 auto;
                font-size: 2rem;
                font-weight: 600;
              }
              .fund-allowcations {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-top: 4rem;
                .single-allocation {
                  margin-top: 2rem;
                  margin-bottom: 3.5rem;
                  .charity-logo {
                    max-width: 230px;
                    max-height: 330px;
                    width: 45%;
                  }
                  .allocation-text {
                      .percentage {
                          font-size: 5rem;
                          font-weight: bolder;
                          margin: 2rem 0;
                      }
                      .description {
                          font-size: 1.6rem;
                          margin: 0 4rem;
                          line-height: 2.3rem;
                      }
                  }
                  
                }
              }
            }
            .entry-content {
              width: 80%;
              margin: 0 auto 4rem;
              p {
                font-size: 1.6rem;
              line-height: 2.4rem;
              margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}
