// Structure

$base__space-unit: 1.5rem;

// Colors 

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// RC Primary Stylings
// #48219f purple color for carousel shadow
$code__blue: #00BEA8;
$innovative__purple: #42299A;
$credible__blue: #14225F;
$grounded__green: #192726;

// RC Secondary Stylings
$sustainable__green: #8CB33E;
$forest__green: #578744;
$cream__background: #F9F5ED;
$blue__background: rgba(216,216,216,0.18);
$black: #000;
$white: #fff;

// RC Fonts
$montserrat__font: 'Montserrat', sans-serif;

// RC Mixins
$tablet-width: 650px;
$desktop-width: 1000px;
$max-screen-size: 1440px;
$max-content-size: 900px;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//padding

$button__padding: 1rem 1.5rem;
$content__padding: 2rem 6rem;
